.body {
}

    .body .container .info-customer .row {
        display: flex;
    }

    .body .container input {
        padding-left: 10px;
        border-radius: 13px;
        margin-right: 20px;
        margin-bottom: 13px;
        width: 100%;
        line-height: 30px;
        font-size: 14px;
    }

    .body .container .info-customer {
        margin-right: 30px;
    }

        .body .container .info-customer .row .info-hoten {
            margin-right: 20px;
        }

        .body .container .info-customer .payment-method {
            display: flex;
            flex-direction: column;
        }

            .body .container .info-customer .payment-method button {
                margin-bottom: 20px;
                line-height: 20px;
                height: 80px;
                background-color: #fff;
                border-radius: 20px;
                border: 1px solid gray;
                color: #5c5c5c;
                opacity: 0.5;
                transition: opacity 0.3s ease;
            }

                .body .container .info-customer .payment-method button:hover,
                .body .container .info-customer .payment-method button:focus {
                    border: 2px solid #fac457;
                    opacity: 1;
                }

                .body .container .info-customer .payment-method button .row img {
                    padding: 0px 20px;
                }

.payment-method .row .inner-text {
    justify-content: center;
    align-items: center;
    height: 100%;
}


/*  */

.body .container .cart {
    display: flex;
    flex-direction: column;
}

    .body .container .cart .info-cart .row {
        display: flex;
        border-bottom: #9A9A9A 1px solid;
        padding-bottom: 10px;
        margin-bottom: 20px;
    }

        .body .container .cart .info-cart .row .item-info {
            margin-left: 20px;
            width: 100%;
        }


            .body .container .cart .info-cart .row .item-info .row-2 {
                display: flex;
            }

.row .item-info .row-2 .quantity {
    margin-top: 10px;
    display: flex;
}

.row .item-info .row-2 {
    line-height: 30px;
}

.row .item-info .quantity {
    border: 1px solid gray;
    border-radius: 10px;
    background-color: #fff;
    text-align: center;
    width: fit-content;
}

.row .item-info .row-2 {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

    .row .item-info .row-2 .quantity .button {
        border: none;
        background-color: #fff;
        font-size: 18px;
        width: 40px;
        border-radius: 10px;
    }

    .row .item-info .row-2 .quantity .button-remove {
        border-right: 1px solid gray;
        border-top-right-radius: 0px;
        border-bottom-right-radius: 0px;
        margin: 0;
        padding: 0;
    }

    .row .item-info .row-2 .quantity .button-add {
        border-left: 1px solid gray;
        border-top-left-radius: 0px;
        border-bottom-left-radius: 0px;
        margin: 0;
        padding: 0;
    }

    .row .item-info .row-2 .quantity .number {
        padding: 0px 10px;
    }

    .row .item-info .row-2 .price {
        width: 100;
        font-size: 20px;
        align-items: center;
        text-align: right;
        margin-right: 30px;
    }

.row .item-info .size {
    margin-top: 10px;
}

.row .item-info .delete {
    margin-top: 10px;
}

    .row .item-info .delete button {
        border: none;
        background-color: #fff;
        font-size: 15px;
        width: 40px;
        border-radius: 10px;
        border: 1px solid gray;
        line-height: 26-px;
    }

/* price cart */

.cart .price-cart {
    display: flex;
    flex-direction: column;
}

    .cart .price-cart .row {
        display: flex;
        justify-content: space-between;
    }

        .cart .price-cart .row .price, .total-price {
            text-align: left;
        }


/*  */

body .container .cart button {
    line-height: 30px;
    border: none;
    border-radius: 30px;
    background-color: #fac457;
    width: 100%;
}


    body .container .cart button:hover {
        background-color: #fcd890;
    }
